# EditorConfig is awesome:
http://EditorConfig.org

# top-most EditorConfig file
root = true

# Defaults
[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true

# JSON files
[*.{json,slnf}]
indent_size = 2

# Markdown files
[*.md]
indent_size = 2

# Bash scripts
[*.sh]
indent_size = 2

# MSBuild Solution files
[*.sln]
tab_width = 4
indent_style = tab

# MSBuild XML Build files
[*.{props,targets,tasks,overridetasks}]
indent_size = 2

# MSBuild XML Project files
[*.{csproj,vbproj,shproj,vcxproj,vcxproj.filters,proj,projitems}]
indent_size = 2

# VisualStudio XAML Rule files
[*.xaml]
indent_size = 2

# VisualStudio XML Configuration files
[*.{ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# Code files
[src/**/*.{cs,vb}]
charset = utf-8-bom

# IDE0005: Remove unnecessary usings/imports
dotnet_diagnostic.IDE0005.severity = warning
